.espacio {
    background-color: rgb(255, 255, 255);
    padding: 400px;
}

.cierre {
    padding: 10px;
    color: rgba(255, 255, 255, 0.671);
    background-color: rgba(0, 0, 0, 0.87);
}

.cierre1 {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinea verticalmente los elementos */
}

.cierre1 .element {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido de cada .element */
    margin-bottom: -10px;
}

.cierre1 .element img {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.cierre1 .element:last-child {
    margin-left: auto; /* Empuja el segundo elemento hacia la derecha */
    margin-right: 30px;
}

.cierre1 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.671);
    padding-left: 5px;
}

.cierre1 a:hover {
    color: white;
}

.element1 {
    margin-left: 5px;
}






