.container-herramientas {
    position: absolute;
    top: 50%;
    left: 200px;
    width: 80%;
    height: 230%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    z-index: 2; /* Asegúrate de que el contenido esté sobre la imagen */
    color: white; /* Color del texto */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto */
    border-bottom-left-radius: 15px; /* Radio de la esquina inferior izquierda */
    border-bottom-right-radius: 15px;
}

.container-top-menu {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 5%;
    background-color: rgba(5, 5, 5, 0.801); /* Fondo negro semitransparente */
    z-index: 2; /* Asegúrate de que el contenido esté sobre la imagen */
    color: white; /* Color del texto */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto */
}

.herramientas-menu {
    display: flex;
}

.herramientas-menu li {
    list-style: none;
    margin: 15px;
    margin-left: 60px;
    margin-right: 50px;
}

.btn {
    background-color: transparent; /* Elimina el color de fondo */
    border: none; /* Elimina los bordes */
    color: rgb(212, 212, 212); /* Define el color del texto */
    padding: 13px 100px; /* Añade algo de espacio alrededor del texto */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
    transition: all 0.5s ease; /* Añade una transición suave para efectos de hover */
    outline: none; /* Elimina el borde por defecto cuando el botón está enfocado */
    border-bottom: 2px solid transparent; /* Borde inferior inicial invisible */
}

.btn:hover {
    color: #ffffff; /* Cambia el color del texto al pasar el mouse */
    border-bottom: 2px solid #ffffff; /* Borde inferior visible al pasar el mouse */
}

.btn.color {
    color: #ffffff; /* Cambia el color del texto al pasar el mouse */
    border-bottom: 2px solid #ffffff;
}

.item-buttons {
    background-color: rgba(0, 0, 0, 0.432);
    max-width: 100%;
    padding: 10px; /* Añade un padding para espaciar los elementos */
    border-radius: 10px;
    margin-bottom: 110%;
}

.items-menu {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Espacia los elementos para ocupar todo el ancho */
    align-items: stretch; /* Asegura que los elementos ocupen toda la altura del contenedor */
}

.items-menu li {
    list-style: none;
    flex: 1; /* Hace que cada li ocupe el mismo espacio disponible */
    padding-left: 8px;
}

.btn-items {
    background-color: transparent;
    border: none;
    color: rgb(212, 212, 212);
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s ease;
    outline: none;
    border-bottom: 2px solid transparent;
    width: 100%; /* Asegura que el botón ocupe todo el ancho del li */
    height: 100%; /* Asegura que el botón ocupe toda la altura del li */
    padding: 2px 45px; /* Añade padding para mayor altura si es necesario */
    text-align: center; /* Centra el texto del botón */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-items:hover {
    color: #ffffff; /* Cambia el color del texto al pasar el mouse */
    border-bottom: 2px solid #ffffff;
}

.btn-items.color {
    color: #ffffff; /* Cambia el color del texto al pasar el mouse */
    border-bottom: 2px solid #ffffff;
}