* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white ;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

.nav {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 6px;
    transition: all .5s ease;
    z-index: 1000;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo img{
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.171);
    width: 90px;
    margin-left: 20px;
    transition: all .5s ease;
    display: block;
}

.overlay-text {
    position: absolute;
    color: rgb(228, 228, 228);
    text-align: center;
    margin-left: 130px;
    margin-top: 100px;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    opacity: 0; 
    transition: all 0.5s ease; 
}

.logo:hover .overlay-text {
    opacity: 1;
}

.logo img:hover {
    width: 100px;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 15px;
    margin-left: 60px;
    margin-right: 50px;
}

.menu li a {
    color: rgb(228, 228, 228);
    text-decoration: none;
    font-weight: 200;
    transition: all .5s ease;
    font-size: 20px;
    margin-right: 50px;
}

.menu li a:hover {
    padding: 5px 10px;
    background: #fff;
    color: black;
    border-radius: 15px;
    box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.062);
}

.banner-container {
    position: relative; /* Necesario para que el texto absoluto se posicione en relación con el contenedor */
    width: 100%; /* Ajusta el ancho del contenedor según sea necesario */
    height: 400px; /* Ajusta la altura del contenedor según sea necesario */
}

.img-banner {
    width: 100%;
    height: 1050px;
    z-index: 1;
    object-fit: cover;
}

.banner-title {
    position: absolute;
    top: 60%; /* Centrado verticalmente */
    left: 29%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste para centrar exactamente */
    font-size: 45px;
    color: white;
    padding: 25px;
    border-radius: 20px;
    letter-spacing: 3px;
    max-width: 700px;
    text-decoration: overline;
}

.banner-slogan {
    position: absolute;
    top: 81%; /* Centrado verticalmente */
    left: 70%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste para centrar exactamente */
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 25px;
    border-radius: 20px;
    max-width: 30%;
    transition: all .5s ease;
}

.banner-slogan2:hover {
    transform: translate(-50%, -50%) scale(1.2);
    background-color: rgba(0, 0, 0, 0.61);
    box-shadow: 0 0 10px 6px rgba(199, 199, 199, 0.5);
}

.banner-slogan2{
    position: absolute;
    top: 120%; /* Centrado verticalmente */
    left: 75%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste para centrar exactamente */
    font-size: 19px;
    color: white;
    background-color: rgba(0, 0, 0, 0.397);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.596);
    border: 1px solid rgba(0, 0, 0, 0.089);
    padding: 25px;
    border-radius: 20px;
    max-width: 30%;
    transition: all .5s ease;
}


.video1 {
    position: absolute;
    top: 165%;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    transform: translateX(-50%) translateY(80%); /* Combina las transformaciones */
    z-index: 2; /* Asegura que el video esté sobre el banner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: all 0.5s ease;
}

.video1:nth-of-type(1) {
    left: 365px;
}

.video1:nth-of-type(2) {
    left: 1520px;
    bottom: 18px; /* Ajusta la distancia desde la parte inferior */
}

.video1:hover {
    transform: scale(1.2) translateX(-40%) translateY(70%); 
    z-index: 3; 
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.5);
}

.img-overlay {
    position: absolute; /* Permite posicionar la imagen libremente */
    top: 800px; /* Ajusta la posición en relación con el contenedor */
    right: 685px; /* Ajusta la posición en relación con el contenedor */
    z-index: 2; /* Asegura que la nueva imagen esté sobre la imagen de fondo */
    width: 550px; /* Ajusta el tamaño de la nueva imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: all .5s ease;
    cursor: pointer;
}

.img-overlay:hover {
    transform: scale(1.2);
    z-index: 5;
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.5);
}