* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white ;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

.nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 6px;
    transition: all .5s ease;
    z-index: 1000;
}

.nav.active {
    background-color: rgba(0, 0, 0, 0.247);
    box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.103);
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo img{
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.171);
    width: 90px;
    margin-left: 20px;
    transition: all .5s ease;
    display: block;
}

.overlay-text {
    position: absolute;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 130px;
    margin-top: 70px;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    opacity: 0; 
    transition: all 0.5s ease; 
}

.logo:hover .overlay-text {
    opacity: 1;
}

.logo img:hover {
    width: 100px;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 15px;
    margin-left: 45px;
    margin-right: 50px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    transition: all .5s ease;
    font-size: 16px;
}

.menu li a:hover {
    padding: 5px 10px;
    background: #fff;
    color: black;
    border-radius: 15px;
    box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.062);
}

.img-banner {
    width: 100%;
    height: 1050px;
    z-index: 1;
    object-fit: cover;
}

.banner-title {
    position: absolute;
    top: 35%; /* Centrado verticalmente */
    left: 25%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste para centrar exactamente */
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.308); /* Fondo semitransparente para el texto */
    color: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    max-width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.089);
}

.video1 {
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    transform: translateX(-50%) translateY(80%); /* Combina las transformaciones */
    z-index: 2; /* Asegura que el video esté sobre el banner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: all 0.5s ease;
}

.video1:nth-of-type(1) {
    left: 20%;
}

.video1:nth-of-type(2) {
    left: 79%;
    bottom: 18px; /* Ajusta la distancia desde la parte inferior */
}

.video1:hover {
    transform: scale(1.2) translateX(-45%) translateY(70%); 
    z-index: 3; 
}

.img-overlay {
    position: absolute; /* Permite posicionar la imagen libremente */
    top: 860px; /* Ajusta la posición en relación con el contenedor */
    right: 740px; /* Ajusta la posición en relación con el contenedor */
    z-index: 2; /* Asegura que la nueva imagen esté sobre la imagen de fondo */
    width: 450px; /* Ajusta el tamaño de la nueva imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: all .5s ease;
    cursor: pointer;
}

.img-overlay:hover {
    transform: scale(1.2);
    z-index: 3;
}