.aviso {
    position: absolute;
    top: 35%; /* Centrado verticalmente */
    left: 50%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste para centrar exactamente */
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.452); /* Fondo semitransparente para el texto */
    color: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    border: 1px solid rgba(0, 0, 0, 0.089);
}